.parallaxContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallaxContent {
  display: block;
  position: relative;
  background-color: white;
  z-index: 1;
}

